@model List<TechnoEgypt.ViewModel.WebCourseIndex>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="AddOrEdit">Create New</a>
</p>

<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Stage
                </th>
                <th>
                    Track
                </th>
                <th>Edit Action</th>
                <th>Delete Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.StageName
                    </td>
                    <td>
                        @item.CourseCategoryName
                    </td>
                    <td class="text-center">
                        <a asp-action="AddOrEdit" class="btn btn-outline-primary" asp-route-Id="@item.Id">Edit</a>
                    </td>

                    <td class="text-center">
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
    $('#table').DataTable({
        pagingType: 'full_numbers',
    });
});
    </script>
}
