@model List<TechnoEgypt.ViewModel.Parents>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Kids List of @ViewBag.PageName</h2>


<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="AddOrEditStudent" asp-route-ParentID="@ViewBag.ParentID">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>FatherTitle</th>
                <th class="text-center">Edit Action</th>
                <th class="text-center">Delete Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.FatherTitle</td>
                    <td class="text-center">
                        <a asp-action="AddOrEditStudent" class="btn btn-outline-primary" asp-route-ParentID="@item.Id">Edit</a>
                    </td>

                    <td class="text-center">
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-ParentID="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>